body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* background-color: #141414; */
  /* color: white; */
}
#error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: red;
  display: none;
}
#main-calendar {
  display: flex;
}
#loader-wrap {
  width: 100vw;
  height: 100vh;
  background: rgb(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999 !important;
}
.calendar-wrapper {
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#loader-innerwrap {
  width: 50vw;
  height: 40vh;
  background-color: rgb(255,255,255);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weekwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 95vw; */
}
.date-box {
  width: 9vw;
  height: 9vw;
  border-right: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  justify-content: flex-end;
}
.shadow-box {
  background-color: lightgrey;
  pointer-events: none;
  user-select: none;
}
.nb-right {
  border-right: none !important;
}
.shine-border-wrapper {
  position: relative;
  isolation: isolate;
  border-radius: inherit;
  background: white !important;
  border: none !important;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: 300px;
  padding: 16px;
}

.shine-border-wrapper::before {
  content: "";
  position: absolute;
  inset: -150%;
  background: conic-gradient(
    from 0deg,
    #A07CFE,
    #FE8FB5,
    #FFBE7B,
    #A07CFE
  );
  animation: rotate 2s linear infinite;
  z-index: -2;
}

.shine-border-wrapper::after {
  content: '';
  position: absolute;
  inset: 4px;
  background: white;
  border-radius: inherit;
  z-index: -1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#suggested {
  width: 350px;
  border: 2px solid black;
  box-sizing: border-box;
  margin: 0 20px;
  font-size: 18px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.datebox-day {
  width: 3vw;
  height: 3vw;
  border: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
  /* font-weight: 800; */
  font-size: 18px;
}
.daylabel {
  width: 9vw;
  text-align: center;
}
#labelwrap {
  /* width: 95vw; */
  display: flex;
  justify-content: center;
}
.suggested-timebox {
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  margin-bottom: 15px;
}
.suggested-timebox:hover {
  transform: scale(1.01);
  transition: transform 0.2s ease-out;
}
.suggested-timebox-time, .suggested-timebox-date {
  display: flex;
  align-items: center;
  height: 50px;
}
#left {
  width: 70vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}
#right {
  width: 30vw;
  /* border-left: 2px solid black; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
#verify-wrap {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0,.5);
  user-select: none;
  /* pointer-events: none; */
  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}
#suggestionbox {
  display: none;
}
#verify-details {
  width: 90vw;
  height: 80vh;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#verify-final {
  width: 50vw;
  border: 2px solid black;
  border-radius: 15px;
}
#passthrough-y354q {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* Single Use Below */
.fbsyq {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 40px;
  user-select: none;
  cursor: pointer;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#tmu7b {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
}
#j4tGs {
  width: 90vw;
  border-radius: 15px;
  background-color: rgb(0,0,0,.1);
  text-align: center;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
#psaof {
  margin-bottom: 10px;
}
#tzajg {
  /* width: 100vw; */
  font-size: 45px;
  margin: 0;
  margin-top: 5px;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(88, 111, 218, 1) 0%, rgba(252, 70, 249, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#aF4qd {
  width: 100px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
#kJD9 {
  font-size: 80px;
  color: white;
  margin: 0;
  text-decoration: underline;
}
#aUFM {
  color: white;
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
#img-3zmf {
  width: 300px;
  height: 300px;
}
#Df8m {
  font-size: 40px;
  font-weight: 800;
  /* width: 100vw; */
  text-align: center;
}
#c832v {
  margin-top: 30px;
}
.img-qi5s, .img-4od9 {
  width: 50px;
  height: 50px;
  padding-right: 5px;
  border-right: 2px solid black;
  margin-right: 5px;
}
#a5tqa {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input-0lugk {
  width: 400px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  border: 2px solid black;
  outline: none;
  font-size: 24px;
  text-align: center;
}
#hx3t3 {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.label-b960l {
  margin: 0;
  font-weight: 800;
}
.divider-i9zro {
  width: 60%;
  height: 4px;
  background-color: black;
  margin: 20px 0;
}
#dc1k1 {
  font-size: 36px;
  margin: 0;
}
.datetime-c60po {
  width: 200px;
  text-align: center;
  font-size: 24px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
}
#dev-avnzs {
  width: 100vw;
  border: 2px solid black;
  display: none;
}
#label-x7q06 {
  font-size: 18px;
  text-decoration: underline;
}
.tree-es1rn {
  margin: 0;
  height: max-content;
  font-size: 18px;
  line-height: 18px;
}
#pdufa {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-lruhj {
  all: unset;
  width: 90%;
}
#sberw {
  font-size: 36px;
  width: 100vw;
  margin: 0;
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
  font-weight: 800;
}
#aiyq3 {
  width: 100vw;
  text-align: center;
}

#bottom-17ozq {
  width: 100%;
  border-top: 2px solid black;
  
}
#right-sjzkt {
  width: 50%;
}
#left-l4ikc {
  width: 50%;
}
#r808p {
  display: flex;
}
.h2l8c {
  margin: 0 15px;
  font-weight: 800;
  text-decoration: underline;
}
.sec03 {
  width: 100%;
  font-size: 24px;
  /* text-decoration: underline; */
  text-align: center;
  margin: 10px 0;
}
#final-yolve {
  width: 50vw;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#input-vi331 {
  all:unset;
  width: 80%;
  height: 100px;
  border: 2px solid black;
}
#frp4a {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
  text-decoration: underline;
  margin: 10px 0;
}